MODE=local

#docker
DOCKER_IMAGE=adibhauzan/dibsp-crons:latest
DOCKER_CONTAINER_NAME=dibsp_cron


APP_ORIGIN=http://localhost:3003
MSSQL_DB_HOST=ProjectSQLDev.binasentra.co.id
MSSQL_DB_USER=PCSAdmDev
MSSQL_SA_PASSWORD=AXSQLp45sWorD[]5555uzaq1ZQ
MSSQL_DB_NAME=Db_DevBSP2
MSSQL_DB_PORT=38334

MINIO_BUCKET_NAME=dibsp-storage-dev
MINIO_URL=192.168.9.14:9000
MINIO_ACCESS_KEY=root
MINIO_SECRET_KEY=D3f4ultPa5sJiR01uPATmA67PAN

RABBITMQ_HOST=localhost
RABBITMQ_USER=user
RABBITMQ_PASS=password
